body{
    background-image: url(image/backg.jpg.jpg);
    background-size: cover;
    
}
.panel{
    width: 1920px;
    height: 58px;
    background-color: #00000066;
    position: absolute;
    

    
}
.Journey{
    color: white;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    margin-left: 78px;
    margin-top: 15px;
    

}
.Journey:hover{
    color:#01813F ;
}

.vector-1{
margin-left: 940px;   
}
.vector-1:hover{
color: #01813F;
}

 
.vector-2{
    margin-left:25px ; 
}
.vector-3{
    margin-left:25px ;
}
.line-p{
    position: absolute;
    background-color:white ;
    width: 1px;
    height: 19px;
    margin-left: 25px;
    top: 20px;
    opacity: 50%;
    
      
}
.Welcome{
    float: right;
    margin-right: 430px;
    font-weight:400 ;
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
    
}
.white{
    width: 444px;
    height: 584px;
    background-color: white;
    margin-left: 738px;
    margin-top: 60px;
    position: relative;
}
.green{
  width: 18px;
  height: 18px;
  background-color: #3CB878;
  position: absolute; 
  top: 30px;
   
}
.sign{
    color: #434343;
    margin-left: 61px;
    position: absolute;
    top: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}
.log{
    color: #3CB878;
    margin-left: 346px;
    top: 36px;
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.log:hover{
    text-decoration: underline;
}
.facebook{
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    margin-left: 60px;
    top: 60px;
    position: absolute;
}
.facebook:hover{
    background-color:#022263 ;
}

.f-1{
position: absolute;
top: 12px;
margin-left: 17px;
}
.line-f{
    position: absolute;
    background-color:#0A162F ;
    width: 1px;
    height: 28px;
    margin-left:47px ;
    top: 9px;
    opacity: 0.1;
     

}

.ft{
    position: absolute;
    margin-left: 67px;
    top: 17px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.google{
    width: 160px;
    height: 48px;
    background-color:#DF4A32 ;
    margin-left:224px ;
    top: 60px;
    position: absolute;
}
.line-g{
    position: absolute;
    background-color:#2B0D09 ;
    width: 1px;
    height: 28px;
    margin-left:47px ;
    top: 9px;
    opacity: 0.1;
     
}
.google:hover{
    background-color:  #AB1F09;
    
}
.g-1{
    position: absolute;
    margin-left: 12px;
    top: 15px;
}
.gt{
    
        position: absolute;
        margin-left: 80px;
        top: 17px;
        color: white;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
    
}

.or{
    color: #848484;
    position: absolute;
    top: 140px;
    margin-left: 215px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px
}
.name{
    position: absolute;
    top: 164px;
    left: 61px;
    width: 322px;
    height: 44px;
    box-shadow: 0px 3px 8px 0px #00000036;
    border: 1px solid #F2F2F2

    
}
.last-name{
    position: absolute;
    top: 225px;
    left: 61px;
    width: 322px;
    height: 44px; 
    border: 1px solid #F2F2F2
}
.email{
    position: absolute;
    top: 284px;
    left: 61px;
    width: 322px;
    height: 44px;   
    border: 1px solid #F2F2F2
}
.password{
    position: absolute;
    top: 343px ;
    left: 61px;
    width: 322px;
    height: 44px; 
    border: 1px solid #F2F2F2
}
.confirm{
    position: absolute;
    top: 403px ;
    left: 61px;
    width: 322px;
    height: 44px;
    border: 1px solid #F2F2F2
}
.button{
    position: absolute;
    top: 460px;
    margin-left: 60px;
    border: 1px solid #F2F2F2
}
.check{
    
    height: 13.5px;
    width: 14px;
    
}
.black{
    color: #434343;
}
.green-2{
   color: #3CB878; 
}
.green-2:hover{
    color: #01813F;
    text-decoration: underline;
}
.green-button{
background-color: #3CB878CC;
height: 46px;
width: 324px;
position: absolute;
top: 500px;
margin-left: 60px;


}
.green-button:hover{
    background-color: #01813F;
    
}
.create{
    position: absolute;
    margin-left: 99px;
    margin-top: 16px;
    color: white;
    font-size: 16px;
    line-height: 16px;
    
}